@model BetAtSchoolClient.Models.Station;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuestionView</title>
</head>
<body>
    <div id="Login-content" class="demo-section k-content">
        <p class="title"></p>
    </div>
</body>
</html>
